
@{
    ViewData["Title"] = "ClockOut";
}

<form>
    <h2>Clock Out here by entering your time which is displayed at the bottom</h2>
    <button type="button" value="Refresh Page" onclick="window.location.reload()">Clock Out!</button>
    <img src="~/images/Clock-icon.png" />
    Time: <input type="datetime" name="Time" /><br />
    <p id="demo"></p>
    <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d;
    </script>
    <style>
        body {
            background-color: aquamarine;
        }
    </style>


</form>

