
@{
    ViewData["Title"] = "ClockOut";
}

<form>
    <h2>Clock Out here by entering your time which is displayed at the bottom</h2>
    <a href="index" class="btn btn-default btn-flat">ClockOut</a>
    <img src="~/images/Clock-icon.png" />
    Time: <input type="datetime" name="Time" /><br />
    <p id="demo"></p>
    <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d;
    </script>
    <style>
        body {
            background-color: aquamarine;
        }
    </style>


</form>

<form id="form1" runat="server">
    <asp:Label ID="Label1" Text="Loggin Out Please Wait" runat="server" />
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <asp:Timer ID="Timer1" runat="server" Interval="1000" OnTick="Timer1_Tick">
                </asp:Timer>
            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
</form>