@*

*@
@{
    ViewData["Title"] = "ClockIn";

}
<form>
    <h2>Clock In here by entering your time which is displayed at the bottom</h2>
    <a href="index" class="btn btn-default btn-flat">ClockIn</a>
    <img src="~/images/Clock-icon.png" />
    Time: <input type="datetime" name="Time" /><br />
    <p id="demo"></p>
    <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d;
    </script>
    <style>
        body {
            background-color: aquamarine;
        }
    </style>


</form>