@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>To contact management simply email: management@gmail.com</h3>
<h3>For serious inquries call the desk at: 555 555 5314 </h3>