@{
    ViewData["Title"] = "Home Page";
}


<div id="HomePage" style="text-align:center; font-size: 30px; border-width: 100px; color: black;">
    Welcome to the Sample TimeSheet Page!
    <img src="~/images/Business.jpg" />

</div>

<div class="row">

</div>
