
@{
    ViewData["Title"] = "Manager";
}
<h1>@ViewData["Title"]</h1>

<table border="5" width="100%" cellpadding="4" cellspacing="3">
    <tr>
        <th colspan="4"><br /><h3>Management</h3></th>
        </tr>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Date</th>
        <th>Role</th>
    </tr>
    <tr align="center">
        <td>John doe</td>
        <td>1</td>
        <td>12/4/2018</td>
        <td>Employee</td>
    </tr>
</table>



//Create or find role controller
<br />
//Assign one of our users a role
<br />
//lock an action to only managers
<br />
//Finish the manager View
<br />
//Lock manager role
<br />
//Create a TimeSheet Approval view